<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
	<servlet>
		<servlet-name>DisplayTopics</servlet-name>
		<servlet-class>servlets.DisplayTopics</servlet-class>	
	</servlet>
	<servlet-mapping>
			<servlet-name>DisplayTopics</servlet-name>
			<url-pattern>/displayTopics</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>DisplayDiscussions</servlet-name>
		<servlet-class>servlets.DisplayDiscussions</servlet-class>	
	</servlet>
	<servlet-mapping>
			<servlet-name>DisplayDiscussions</servlet-name>
			<url-pattern>/displayDiscussions</url-pattern>
	</servlet-mapping>
</web-app>