<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
	<servlet>
		<servlet-name>DisplayTopics</servlet-name>
		<servlet-class>servlets.DisplayTopics</servlet-class>	
	</servlet>
	<servlet-mapping>
			<servlet-name>DisplayTopics</servlet-name>
			<url-pattern>/displayTopics</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>DisplayPosts</servlet-name>
		<servlet-class>servlets.DisplayPosts</servlet-class>	
	</servlet>
	<servlet-mapping>
			<servlet-name>DisplayPosts</servlet-name>
			<url-pattern>/displayPosts</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>DisplayDiscussions</servlet-name>
		<servlet-class>servlets.DisplayDiscussions</servlet-class>	
	</servlet>
	<servlet-mapping>
			<servlet-name>DisplayDiscussions</servlet-name>
			<url-pattern>/displayDiscussions</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>CreateDiscussion</servlet-name>
		<servlet-class>servlets.CreateDiscussion</servlet-class>	
	</servlet>
	<servlet-mapping>
			<servlet-name>CreateDiscussion</servlet-name>
			<url-pattern>/createDiscussion</url-pattern>
	</servlet-mapping>
	<jsp-config>
		<jsp-property-group>
			<url-pattern>*.jsp</url-pattern>
			<include-prelude>/WEB-INF/taglibs.jsp</include-prelude>
		</jsp-property-group>
	</jsp-config>
</web-app>